.red {
    background-color: #F25022;
    transition: background-color 0.5s ease;
}
  
.green {
    background-color: #80B90A;
    transition: background-color 0.5s ease;
}

.blue {
    background-color: #029BE1;
    transition: background-color 0.5s ease;
}

.yellow {
    background-color: #F0B006;
    transition: background-color 0.5s ease;
}

.yellow, .blue, .green, .red {
    height: 100%;
    width: 100%;
    margin: 6px;
}

html {
    width: 100%;
}